@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #0056b3;
}

input[type="range"]::-moz-range-thumb:hover {
    background-color: #0056b3;
}
